* {
	box-sizing: border-box;
}

body {
	background-color: #545a7c;
}


#regForm {
	background-color: #ffffff;
	margin: 100px auto;
	font-family: Raleway;
	padding: 40px;
	width: 70%;
	min-width: 300px;
}

h1 {
	text-align: center;
}

input {
	padding: 10px;
	width: 100%;
	font-size: 17px;
	font-family: Raleway;
	border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
	background-color: #ffdddd;
}

input[type="radio"] {
	display: inline-block;
	vertical-align: middle;
	margin: 5px;
	cursor: pointer;
	content: '';
	background: #fff;
	border: 2px solid #ddd;
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	padding: 2px;
	margin-right: 10px;
	text-align: center;
}


input[type="radio"].invalid {
	-webkit-box-shadow: 3px 3px 19px 7px rgba(252,38,109,0.56);
	-moz-box-shadow: 3px 3px 19px 7px rgba(252,38,109,0.56);
	box-shadow: 3px 3px 19px 7px rgba(252,38,109,0.56);
}

.tab {
	display: none;
}

button {
	background-color: #6abdff;
	color: #ffffff;
	border: none;
	padding: 10px 20px;
	font-size: 17px;
	font-family: Raleway;
	cursor: pointer;
}

button:hover {
	opacity: 0.8;
}

#prevBtn {
	background-color: #bbbbbb;
}

.btn-success {
	color: #fff;
	background-color: #2d8bdd;
	border-color: #3970ae;
}
/* circulos passo a passo*/
.step {
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbbbbb;
	border: none;
	border-radius: 50%;
	display: inline-block;
	opacity: 0.5;
}

.step.active {
	background-color: #6abdff;
	opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
	background-color: #00ffff ;
}