<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>Cadastro</title>

		<!-- JQuery -->
		<script src="js/jquery-2.2.1.js"></script>

		<!-- bootstrap - link cdn -->
<!--		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">-->

		<!-- incluindo css -->
		<link href="css/style.css" rel="stylesheet">

	</head>

	<body class="body-index">

	    <div class="container">

			<% if(validacao.length > 0){ %>
				<div class="alert alert-danger">
					<strong>Atenção</strong>
					<ul>
						<% for(var i = 0; i < validacao.length; i++){ %>
							<li><%= validacao[i].msg %></li>
						<% } %>
					</ul>
				</div>
			<% } %>

			<form class="form-cadastro" action="/cadastrar" method="POST">

				<div class="row">
					<div class="col-xs-4">
						<div class="form-group">
							<label for="Email" class="col-sm-2 col-form-label" >Email</label>
							<input type="email" value="<%= dadosForm.email %>" class="form-control" id="email" name="_id"  placeholder="Digite seu email" required>
						</div>
					</div>

					<div class="col-xs-4">
						<div class="form-group">
							<label for="nome" class="col-sm-2 col-form-label">nome</label>
							<input type="nome" value="<%= dadosForm.nome %>" class="form-control" id="nome" name="name" placeholder="Digite seu nome" required>
						</div>
					</div>

					<button nome="login" value="login">Login</button>


				</div>

			</div>


	</body>
</html>