<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <meta charset="UTF-8">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
<style>
    span.glyphicon {
        font-size: 8em;
        margin-left: 50%;
    }
</style>

<div class="container">
    <div class="jumbotron">
        <p>
            Formulario completo! obrigado pela particiação nessa pesquisa,
            sua contribuição é de extrema importância para realização deste trabalho.
            <br>
            </p><span class="glyphicon glyphicon-thumbs-up"></span>
        </p>

    </div>

</div>

<form id="regForm" action="">


</form>

</body>
</html>