<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <meta charset="UTF-8">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>

<div class="container">
    <div class="jumbotron">
        <p>
            <b>Formulário para Categorização dos Comentários da Tarefa do Google.</b>
            Pessoal os comentários estão entre aspas, o formulário está grande, então vamos lá. Abaixo dos comentários existe uma linha onde é possível identificarmos em que categoria o comentário se encaixa.
            Abaixo do comentário está a resposta com relação à que classe a categoria se encaixa: Interação, Interface ou Experiência.

            Por fim, a resposta acerca do comentário parecer positivo, negativo ou neutro.

            No fim vou reunir as respostas, identificar as perguntas com maior divergência e vamos nos reunir pra discutir e chegar em uma conclusão. OK.

            Lembrando que, caso hajam perguntas iguais desconsiderem uma delas beleza!

            Desde já agradeço muito pela ajuda de todos. XD !!!</p>
        <form action="formulario" method="GET">

        <button type="submit"  class="btn-info  btn-lg">Iniciar Formulário</button>
        </form>

    </div>

</div>

<form id="regForm" action="">


</form>

</body>
</html>